.button {
  min-width: 6rem;
  min-height: 2rem;
  border-radius: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  border: none;
  background-color: var(--fundo);
  box-shadow: 0 2px 7px 3px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}

#descricaoPais {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
}

#descricaoPais img {
  width: 40rem;
  max-width: calc(100vw - 4rem);
  object-fit: fill;
}

#descricaoPais > div {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1 1 20rem;
  max-width: 45rem;
}

#descricaoPais h2 {
  font-size: 1.7rem;
  font-weight: var(--font-weight-800);
}

.lista {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

#descricaoPais li {
  font-size: var(--font-size-detail-page);
  font-weight: var(--font-weight-600);
  margin-bottom: 1rem;
  min-width: max-content;
}

#descricaoPais span {
  font-size: var(--font-size-detail-page);
  font-weight: var(--font-weight-300);
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}

.vizinhos {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
}